div{
    background-color: black;
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin: 0 auto;
    transition: margin-top 2s ease-in 0.2s;

}

div:hover{
    background-color: red;
    border-radius: 50%;
    margin-top: 400px;

}