body{
    background-color: wheat;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: #A52A2A;
    text-align: center;
    color: red;
    line-height: 30px;
}

h1{
    color: black;
    text-align: center;
}
h3{
    text-align: center;
}

h4{
    text-align: center;
}

a{
 color: rgb(0,255,0);
 text-decoration:none;
}

button{
     background-color: blueviolet;
}
textarea{
    color:rgb(0,0,0);
}
