*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_box{
    background:url(photo.jpg);
    height: 100vh;
    background-size:cover;
}